{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
		<br />
        <div class="jumbotron">
            <h1>Installation du site avec succès!</h1>
			<p>Vous avez installé la version initiale du site de Patrick.</p>
			<p><a class="btn btn-lg btn-primary" href="https://github.com/Gcob/patrick-website" >Vissionner le repo git</a></p>
        </div>
    </div>
{% endblock %}
